<!-- Footer area-->
<div class="footer-area">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Hakkımızda</h4>
                        <div class="footer-title-line"></div> 
                        <img src="~/AnasayfaContent/assets/img/dota2.png" alt="" class="wow pulse" data-wow-delay="1s">
                        <img src="~/AnasayfaContent/assets/img/dotafooter.png" alt="" class="wow pulse" data-wow-delay="1s"> 
                        <p></p>
                        <ul class="footer-adress">
                            <li><a target="_blank" class="pe-7s-map-marker strong" href="https://goo.gl/maps/BPR89PazxZL2" style="font-size:14px">&emsp; A<span style="text-transform:lowercase">dresimiz</span></a>  </li>
                            <li><i class="pe-7s-mail strong"> </i> Siz@emlak.com</li>
                            <li><i class="pe-7s-call strong"> </i>+90 532 843 7436</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>SATIŞ TEMSİLCİLERİMİZ</h4>
                        <div class="footer-title-line"></div>
                        <div class="panel-heading">
                            <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa11">
                                Gül hanım
                            </h4>
                        </div>
                        <div id="fqa11" class="panel-collapse collapse fqa-body">
                            <div class="panel-body">
                                <ol>
                                    <li> <img src="~/AnasayfaContent/assets/img/client-face1.png" style="width:100%;height:100%"/> </li>
                                    <li> Tel &nbsp;&nbsp;: +90 534 298 98 49 </li>
                                    <li> Mail : gul@test.com</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa12">
                                ahmet bey
                            </h4>
                        </div>
                        <div id="fqa12" class="panel-collapse collapse fqa-body">
                            <div class="panel-body">
                                <ol>
                                    <li><img src="~/AnasayfaContent/assets/img/client-face2.png" style="width:100%;height:100%" /> </li>
                                    <li> Tel &nbsp;&nbsp;: +90 534 283 77 17</li>
                                    <li> Mail : ahmet.a@bdh.com.tr</li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa13" style="font-size:125%">
                              melİke hanım
                            </h4>
                        </div>
                        <div id="fqa13" class="panel-collapse collapse fqa-body">
                            <div class="panel-body">
                                <ol>
                                    <li> <img src="~/AnasayfaContent/assets/img/client-face1.png" style="width:100%;height:100%" /> </li>
                                    <li> Tel &nbsp;&nbsp;: +90 534 298 98 49</li>
                                    <li> Mail : melike@test.com</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                 
                @*<div class="footer-title-line"></div>
                        <ul class="footer-menu">
                            <li><a href="www.emlakkonut.com.tr/">Emlak Konut</a>  </li>
                            <li><a href="https://giris.turkiye.gov.tr/">E-Devlet</a>  </li>
                            <li><a href="https://maps.google.com/">Google Haritalar </a></li>
                            <li><a href="www.galatasaray.org/">Galatasaray Resmi Sitesi</a></li>
                            @*<li><a href="faq.html">fqa</a>  </li>
                    <li><a href="faq.html">Terms </a>  </li>
                        </ul>*@
                 
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>Son Haberler</h4>
                        <div class="footer-title-line"></div>
                        <ul class="footer-blog">
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="~/AnasayfaContent/assets/img/demo/small-proerty-2.jpg">
                                    </a>
                                    <span class="blg-date">12-01-2018</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Yakacıkta Villa</a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Her zaman kafa dinlemek için yeterli..</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="~/AnasayfaContent/assets/img/demo/small-proerty-2.jpg">
                                    </a>
                                    <span class="blg-date">12-01-2018</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Tarabya sahilde müstakil</a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Aileniz için yaşam yeri..</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                    <a href="single.html">
                                        <img src="~/AnasayfaContent/assets/img/demo/small-proerty-2.jpg">
                                    </a>
                                    <span class="blg-date">12-01-2018</span>
                                </div>
                                <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                    <h6> <a href="single.html">Çekmeköy Sitede</a></h6>
                                    <p style="line-height: 17px; padding: 8px 2px;">Yatırım için harika bir fırsat...</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>İLETİŞİMDE KALIN</h4>
                        <div class="footer-title-line"></div>
                        <p>Yeni ilanlarımız ve fırsatlarımızdan haberdar olmak için iletişim adreslerinden takip edebilirsiniz.</p>
                        <p>Ayrıca Mail Adresinizi sistemimize aşağıdan kayıt edip Fırsatları anında öğrenebilirsiniz.</p>
                        <form>
                            <div class="input-group">
                                <input class="form-control" id="E-Mail" type="text" placeholder="E-mail ... " style="color:black">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary subscribe" onclick="SendEMail()"  type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                        <div class="social pull-right">
                            <ul>
                                <li><a target="_blank" class="wow fadeInUp animated" href="https://twitter.com/Ahmettt_Aydin"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" class="wow fadeInUp animated" href="https://www.facebook.com/ahmtttaydn" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                @*<li><a  target="_blank"  class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>*@
                                <li><a target="_blank" class="wow fadeInUp animated" href="https://www.instagram.com/ahmetttaydin/" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span> (C) <a href="https://www.facebook.com/ahmtttaydn">Ahmet Bey</a> , Tüm Hakları Saklıdır. 2018  </span>
                </div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Anasayfa</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">İlanlar</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Sıkça Sorulan Sorular</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>