
<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Cephe</label> </div> @*4*@
<div class="col-sm-12 padding-top-3">
        <div class="col-sm-3">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="Side_North"  type="checkbox" value="true"> Kuzey
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="Side_South"  type="checkbox" value="true"> Güney
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="Side_East"  type="checkbox" value="true"> Doğu
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="Side_West"  type="checkbox" value="true"> Batı
                    </label>
                </div>
            </div>
        </div>
    </div>
   
<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">İç Özellikleri</label> </div>  @*25*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_TV"  type="checkbox" value="true"> TV
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Tel"  type="checkbox" value="true"> Ankesör Telefon
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_MoneyCase"  type="checkbox" value="true"> Para Kasası
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Closet"  type="checkbox" value="true"> Gömme Dolap
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_WashingMachine"  type="checkbox" value="true"> Çamaşır Makinası
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_DishWasher"  type="checkbox" value="true"> Bulaşık Makinası
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_LaundryRoom"  type="checkbox" value="true"> Çamaşır Odası
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_AirConditioner"  type="checkbox" value="true"> Klima
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Cellar"  type="checkbox" value="true"> Kiler
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Balcony"  type="checkbox" value="true"> Balkon
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Terrace"  type="checkbox" value="true"> Teras
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Barbeque"  type="checkbox" value="true"> Barbekü
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_WhiteAppliances"  type="checkbox" value="true"> Beyaz Eşya
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Refrigerator"  type="checkbox" value="true"> Buzdolabı
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_ParentBath"  type="checkbox" value="true"> Ebeveyn Banyosu
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Kartonpiyer"  type="checkbox" value="true"> Kartonpiyer
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Ankastre"  type="checkbox" value="true"> Ankastre
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Laminant"  type="checkbox" value="true"> Laminant Zemin
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Panjur"  type="checkbox" value="true"> Panjur
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Furniture"  type="checkbox" value="true"> Mobilya
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_SteelDoor"  type="checkbox" value="true"> Çelik Kapı
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_Thermopane"  type="checkbox" value="true"> Isıcam
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_SeramikGround"  type="checkbox" value="true"> Seramik Zemin
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_ParkeGround"  type="checkbox" value="true"> Parke Zemin
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="RoomType_FirePlace"  type="checkbox" value="true"> Şömine
                </label>
            </div>
        </div>
    </div>
</div> 

<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Banyo Özellikleri</label> </div>   @*5*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="BathroomType_Alafranga"  type="checkbox" value="true"> Alafranga Tuvalet
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="BathroomType_Cabin"  type="checkbox" value="true"> Duşakabin
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="BathroomType_Jacuzzi"  type="checkbox" value="true"> Jakuzi
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="BathroomType_Tub"  type="checkbox" value="true"> Küvet
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="BathroomType_Alaturka"  type="checkbox" value="true"> Alaturka Tuvalet
                </label>
            </div>
        </div>
    </div>
</div>

 <div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Manzara</label> </div>   @*6*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_Historical"  type="checkbox" value="true"> Tarihi
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_City"  type="checkbox" value="true"> Şehir
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_Forest"  type="checkbox" value="true"> Orman
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_Bosphorus"  type="checkbox" value="true"> Boğaz
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_Sea"  type="checkbox" value="true"> Deniz
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="ViewType_Mountain"  type="checkbox" value="true"> Dağ
                </label>
            </div>
        </div>
    </div>
</div> 

<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Hat özellikleri</label> </div>   @*4*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="GroundType_CableTV"  type="checkbox" value="true"> Kablo Tv
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="GroundType_Wifi"  type="checkbox" value="true"> Wi-Fi
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="GroundType_Fiber"  type="checkbox" value="true"> Fiber
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="GroundType_ADSL"  type="checkbox" value="true"> ADSL
                </label>
            </div>
        </div>
    </div>
</div> 

<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Çevre</label> </div>   @*11*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Park"  type="checkbox" value="true"> Otopark
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Police"  type="checkbox" value="true"> Karakol
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_FunLand"  type="checkbox" value="true"> Eğlence Merkezi
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Market"  type="checkbox" value="true"> Market
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Municipality"  type="checkbox" value="true"> Belediye
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Avm"  type="checkbox" value="true"> Avm
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Mosque"  type="checkbox" value="true"> Camii
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_Hospital"  type="checkbox" value="true"> Hastane
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_University"  type="checkbox" value="true"> Üniversite
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_MidSchool"  type="checkbox" value="true"> OrtaOkul
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Environment_PreSchool"  type="checkbox" value="true"> İlkokul
                </label>
            </div>
        </div>
    </div>
</div> 
  
<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Ulaşım</label> </div>   @*10*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Airport"  type="checkbox" value="true"> Hava Alanı
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Pier"  type="checkbox" value="true"> İskele
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Tramvay"  type="checkbox" value="true"> Tramvay
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Teleferik"  type="checkbox" value="true"> Teleferik
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Metrobus"  type="checkbox" value="true"> Metrobüs
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_E5"  type="checkbox" value="true"> E5 Otoyol
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Tem"  type="checkbox" value="true"> Tem Otoyol
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Subway"  type="checkbox" value="true"> Metro
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Bus"  type="checkbox" value="true"> Otobüs
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Transport_Minibus"  type="checkbox" value="true"> Minibüs
                </label>
            </div>
        </div>
    </div>
</div> 
   
<div class="col-sm-12 padding-top-15"><label style="margin-left:30px">Ulaşım</label> </div>    @*10*@
<div class="col-sm-12 padding-top-3">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Mustakil"  type="checkbox" value="true"> Müstakil
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Catidublex"  type="checkbox" value="true"> Çatı Dublex
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Bahcedublex"  type="checkbox" value="true"> Bahçe Dublex
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Triplex"  type="checkbox" value="true"> Triplex
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Enustkat"  type="checkbox" value="true"> En Üst Kat
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Arakatdublex"  type="checkbox" value="true"> Ara Dublex
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_TersDublex"  type="checkbox" value="true"> Ters Dublex
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Bahcekati"  type="checkbox" value="true"> Bahçe Katı
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Bahceli"  type="checkbox" value="true"> Site Bahçesi
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="HousingType_Arakat"  type="checkbox" value="true"> Arakat
                </label>
            </div>
        </div>
    </div>
</div>
 